
<div class="container ">
        <div class="row">
            <div class="login-container">
                <div class="col-md-12 align-items-center justify-content-center">
                    <div class="row ">
                        <div class="col-md-6 offset-md-3 login-form-1 login-form" style="border-radius: 5px;">
                            <div class="login-logo">
                                <img class="align-content" src="assets/images/logo.png" alt="">
                            </div>
                            <form name="login_form" id="login_form">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="txtEmailID" id="txtEmailID" data-rule-required="true" data-rule-emailCheck="true" autocomplete="off">
                                    <span class="place-holder">Email ID </span>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="txtPassword" id="txtPassword" data-rule-required="true">
                                    <span class="place-holder">Password </span>
                                </div>
                                <div class="form-group pull-right">
                                    <a href="ForgotPassword" class="ForgotPwd">Forgot Password ?</a>
                                </div>
                                <button type="button" id="btnSubmitLogin" class="btn btn-primary custom-btn mb-1">
                                    Login <span class="pj-loading-fa ml-2"></span>
                                </button>
                            </form>
                            <div class="login-footer mt-4">
                                <div class="mx-auto ">
                                    <p style="text-align: center;color: #aaa;margin-bottom:5px">Or login with</p>
                                    <div style="text-align: center;border: 1px solid #aaa;padding: 20px 0px;text-align: center;border-radius: 10px;">
                                        <a href="#" class="fa fa-facebook"></a>
                                        <a href="#" class="fa fa-twitter"></a>
                                        <a href="#" class="fa fa-google"></a>
                                        <a href="#" class="fa fa-linkedin"></a>
                                    </div>
                                </div>
                                <div class="pull-right mt-3">
                                    <p style="color: #aaa;">
                                        Don't have an account ?
                                        <span style="font-weight: 600;">
                                            <a [routerLink]="'/signup'">
                                                Sign Up
                                            </a>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
