<app-left></app-left>  
    <div id="right-panel" class="right-panel">
        <app-header></app-header> 
     
        <div class="content pb-0">
            <h2 class="mb-4">Projects</h2>
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-title">
                            <button type="button" id="btnAddProjectPopup" class="btn btn-primary custom-btn mb-1 mt-1 linkAddProject"><i class="fa fa-plus-circle mr-1" aria-hidden="true"></i> Add Project</button>
                            <a style="color: #87878787;" href="javascript:void(0);" data-toggle="tooltip" data-original-title="Add project via email" class="pull-right font-2xl addnewprj-email"><i class="fa fa-envelope " aria-hidden="true"></i></a>
                        </div>
                        <div class="card-body">
                            
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="card  card-box pull-up">
                                        <div class="card-body">
                                            <div class="h4 mb-0">
                                                <span class="count count_prjopen">1</span>
                                            </div>
                                            <small class="text-muted text-uppercase font-weight-bold">Open Project</small>
                                            <div class="progress progress-xs mt-3 mb-0 bg-flat-color-4" style="width: 40%; height: 5px;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card card-box pull-up">
                                        <div class="card-body">
                                            <div class="h4 mb-0">
                                                <span class="count count_prjinprg">1</span>
                                            </div>
                                            <small class="text-muted text-uppercase font-weight-bold">In Progress Project</small>
                                            <div class="progress progress-xs mt-3 mb-0 bg-flat-color-3" style="width: 40%; height: 5px;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card card-box pull-up">
                                        <div class="card-body">
                                            <div class="h4 mb-0">
                                                <span class="count count_prjarch">1</span>
                                            </div>
                                            <small class="text-muted text-uppercase font-weight-bold">On Hold Project</small>
                                            <div class="progress progress-xs mt-3 mb-0 bg-flat-color-red" style="width: 40%; height: 5px;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card card-box pull-up">
                                        <div class="card-body">
                                            <div class="h4 mb-0">
                                                <span class="count count_prjctive">1</span>
                                            </div>
                                            <small class="text-muted text-uppercase font-weight-bold">Close Project</small>
                                            <div class="progress progress-xs mt-3 mb-0 bg-flat-color-choloc" style="width: 40%; height: 5px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            

                            <div class="col-lg-12">
                                <div class="jdataTableResp">
                                    <table id="projecttable" class="table table-striped display nowrap" width="100%">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th></th>
                                                <th>Project</th>
                                                <th>Priority</th>
                                                <th>Status</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Owner</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix">
    </div>
    <div class="modal-container"></div>
    <div class="modal fade addprjemail-popup animated zoomIn" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add project via email</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>You can add a project by sending an email to <span class="fw-b">project.vsurve@gmail.com</span>.</p>
                    <div class="col">
                        <ul>
                            <li>The subject will be the project name.</li>
                            <li>The email body will be the project description.</li>

                            <li>You can cc the members to add them as project members .</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ticket_forcedeleterecord-popup" role="dialog" aria-hidden="true" style="z-index:1055">
        <div class="modal-dialog modal-confirm-box" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p class="fw-b">Warning: Unable to delete the project. </p>
                    <p>Ticket/s has been added to the project..</p>

                    <button type="button" class="btn btn-secondary mr-auto ml-2" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>