<header id="header" class="header">
	
        <div class="top-left">
            <div class="navbar-header">
                <a class="navbar-brand"
                   href="/dashboard">
                    <img src="assets/images/logo.png"
                         alt="Logo">
                </a>
                <a id="menuToggle" class="menutoggle" style="font-weight:700">
                    <i class="fa fa-bars" style="margin-right: 5px;"></i>
    
                    {{description}}
    
                </a>
    
    
            </div>
        </div>
        <div class="top-right">
            <div class="header-menu">
                <div class="header-left">
                    <div class="dropdown for-addnew">
    
                        <button style="box-shadow: none;" class="btn btn-secondary dropdown-toggle" type="button"
                                id="addnew" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" title="Add">
                            <i class="fa fa-plus" style="line-height:55px"></i>
                        </button>
    
                        <div class="add-menu dropdown-menu" aria-labelledby="addnew">
                            
                            <a class="nav-link linkAddProject " (click)="setloadAddProject()" href="javascript:void(0);"><i class="fa fa-tasks"></i>Add Project</a>
                            <a class="nav-link linkAddTicket" href="javascript:void(0);"><i class="fa fa-ticket"></i>Add Ticket</a>
    
                            <a class="nav-link linkAddUser" href="javascript:void(0);"><i class="fa fa-users"></i>Invite Users</a>
    
                            <a class="nav-link linkAddTime" href="javascript:void(0);"><i class="menu-icon fa fa-clock-o"></i>Add Time Entry</a>
                        </div>
    
                    </div>
    
                    
    
                    
                </div>
    
                <div class="user-area dropdown float-right">
                    
                    <a href="#" class="dropdown-toggle active" data-toggle="dropdown">
                        <div class="avatar">
                            <span style="color: #FFF;">{{userData.fname}}</span>
                        </div> <span class="fa fa-caret-down"></span> <input type="hidden"
                        name="defaultSessionMem" value="{{email}}">					
                    </a>
                    <div class="user-menu dropdown-menu">
    
                        <a class="nav-link" href="#" style="line-height:5px;margin-top:10px">{{userData.fname}}&nbsp;{{userData.lname}}</a>
                        
                        <div class="dropdown-divider"></div>
                        <a class="nav-link linkEditMyProfile" href="#">
                            <i class="fa fa-user"></i>My
                            Profile
                        </a> <a class="nav-link linkaddworkspace"
                                href="javascript:void(0);">
                            <i class="fa fa-plus"></i>New
                            Workspace
                        </a>
                        <div class="dropdown-divider"></div>
                       
                        <a class="nav-link linkdomain-nav active"
                           href="javascript:void(0);" data-id="{{description}}">
                            <i class="fa fa-folder"></i>{{description}}
                        </a>
                                
                        <div class="dropdown-divider"></div>
                        <a class="nav-link d-none" href="#"><i class="fa fa-cog"></i>Settings</a>
                        <a class="nav-link" id="logout"
                           href="/logout">
                            <i class="fa fa-power-off"></i>Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <form class="d-none" method="get" id="dashBoaForm">
        <input class="form-control" type="text" name="flag" id="dashFlag">
        <input class="form-control" type="text" name="domid" id="dashDomain">
        <button id="dashBoarsSubmit" class="search-close" type="submit"></button>
    </form>